/* <base> */
* {
  box-sizing: border-box;
}
html, body, #mask {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}
/* </base> */

/* <containers> */
#mask {
  position: absolute;
  display: flex;
  flex-direction: row;
}
#canvas_container {
  flex: auto;
  background-color: #0e0e0e;
}
#editor_container {
  flex: initial;
  display: flex;
  flex-direction: row;
  background-color: #141414;
  color: #F8F8F8;
}
/* </containers> */

/* <canvas_container> */
#exit {
  position: absolute;
  width: 30px;
	height: 30px;
	background-color: #0e0e0e;
  cursor: pointer;
}
#exit:hover {
  background-color: #ae0e0e;
}
.sign_cross {
  position: relative;
	width: 3px;
	height: 30px;
  left: 13px;
	background: #f1f1f1;
	transform: rotate(-45deg);
}
.sign_cross::after {
	content: "";
	position: absolute;
	top: 14px;
	left: -14px;
	width: 30px;
	height: 3px;
	background: #f1f1f1;
}
#canvas {
  width: 100%;
  height: 100%;
}
/* </canvas_container> */

/* <editor_container> */
#handle {
  flex: initial;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background-color: #282828;
}
#handle:hover {
  background-color: #3b3b3b;
}
#editor_area {
  flex: initial;
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* </editor_container> */

/* <editor_area> */
#header {
  flex: none;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #141414;
}
.header_btn {
  width: 75px;
  height: 100%;
  flex: 1 0 auto;
  display: grid;
  place-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.header_btn:hover {
  background-color: #282828;
  border: solid 5px #141414;
}
#items_container {
  flex: auto;
  width: 100%;
  overflow-y: scroll;
}
#items_container::-webkit-scrollbar {
  display:none;
}
/* </editor_area> */

/* <item> */
.item {
  width: 100%;
  background-color: #282828;
}
.item_select_sort {
  background-color: #3b3b3b;
}
.item_over_top {
  border-top: solid 2px #F8F8F8;
}
.item_over_bottom {
  border-bottom: solid 2px #F8F8F8;
}
.item_header {
  height: 50px;
  display: flex;
  cursor: grab;
}
.item_open, .item_solo, .item_mute {
  width: 50px;
  height: 100%;
  flex: none;
  display: grid;
  place-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.item_open:hover, .item_solo:hover, .item_mute:hover {
  background-color: #3b3b3b;
}
.item_name {
  height: 100%;
  padding-left: 20px;
  flex: auto;
  display: grid;
  place-items: center left;
  white-space: nowrap;
}
.item_emphasis {
  color: #ae0e0e;
}
/* </item> */

/* <editor> */
.item_editor {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.editor_header {
  flex: none;
  background-color: #282828;
  display: flex;
  flex-direction: row;
}
.remove_btn {
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  place-items: center;
  cursor: pointer;
}
.remove_btn:hover {
  background-color: #3b3b3b;
  color: #ae0e0e;
}
.text {
  flex: auto;
  width: 100%;
  height: 100%;
}
.message {
  flex: none;
  width: 100%;
  height: 100px;
  padding: 5px;
  font-family: monospace;
  overflow-y: scroll;
  background-color: #141414;
  border-top: solid 2px #282828;
  border-bottom: solid 2px #282828;
}
/* </editor> */

/* <nameinput> */
.nameinput_container {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
}
.nameinput_description {
  flex: none;
  place-items: center;
}
.nameinput_input {
  background-color: #141414;
  color: #F8F8F8;
  flex: none;
  width: 100px;
}
.nameinput_input:focus {
  outline: none;
}
/* </nameinput> */

/* <xyinput> */
.xyinput_container {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
}
.xyinput_description {
  flex: none;
  place-items: center;
  cursor: pointer;
}
.xyinput_description:hover {
  background-color: #3b3b3b;
}
.xyinput_description_disable {
  color: #646464;
  text-decoration: line-through;
}
.xyinput_input {
  background-color: #141414;
  color: #F8F8F8;
  flex: none;
  width: 75px;
}
.xyinput_input:focus {
  outline: none;
}
.xyinput_input:disabled {
  background-color: #282828;
  color: #646464;
}
/* </xyinput> */